@charset "UTF-8";
/*nullstyle*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  cursor: default;
}

/* fonts */
@font-face {
  font-family: "open-sans";
  src: url(fonts/open-sans/OpenSans-Regular.ttf);
  src: local("open-sans"), url("../fonts/open-sans/OpenSans-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "open-sans";
  src: url("../fonts/open-sans/OpenSans-SemiBold.ttf");
  src: local("open-sans"), url("../fonts/open-sans/OpenSans-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: semibold;
}
@font-face {
  font-family: "open-sans";
  src: url(fonts/open-sans/OpenSans-Bold.ttf);
  src: local("open-sans"), url("../fonts/open-sans/OpenSans-Bold.ttf") format("woff2");
  font-weight: 800;
  font-style: bold;
}
/* style */
html,
body {
  min-width: 390px;
  background-color: #333333;
  color: #ff0a3b;
  font-family: "open-sans";
  scroll-behavior: smooth;
  position: relative;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
}
*::-moz-selection {
  color: #ffffff;
  background: #e74c3A;
}
*::selection {
  color: #ffffff;
  background: #e74c3A;
}

*::-moz-selection {
  color: #fff;
  background: #e74c3A;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: 0 0 30px black;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.black {
  background-color: #242424;
  padding: 30px 0;
}

.marker {
  width: 70px;
  height: 10px;
  background-color: #E74C3A;
}

.identif {
  font-size: 0;
  opacity: 0;
}

/* <> TOP */
.header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid #DDDDDD;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 2;
}
.header > .container {
  height: 90px;
}
.header__body {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  transform: translateZ(0);
  flex: 0 0 180px;
  position: relative;
  z-index: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__logo img {
  max-width: 100%;
  cursor: pointer;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
  transform: translateZ(0);
}
.header__list li {
  margin: 0 0 0 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__link {
  color: #ff0a3b;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  transition: letter-spacing 0.5s ease, color 0.5s ease;
  cursor: pointer;
}
.header__link:hover {
  color: white;
}

/* <> медиа запросы */
@media (max-width: 1200px) {
  .header > .container {
    height: 80px;
  }
}
@media (min-width: 768px) {
  .header__link:hover {
    letter-spacing: 1px;
  }
}
@media (max-width: 768px) {
  .header:before {
    background-color: #191919;
  }
  .header__logo {
    flex: 0 0 180px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    background-color: #ff0a3b;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #ff0a3b;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 120px 50px 10px 50px;
    transition: all 0.3s ease;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 25px 0;
    padding: 5px;
  }
  .header__link {
    font-size: 21px;
  }
}
@media (max-width: 860px) {
  .header__link {
    font-size: 16.9px;
  }
}
/* </> MEDIA TOP */
/* </> TOP */
/* <> MIDDLE */
.content {
  padding: 100px 0 0 0;
}
.content > .container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.frame1 {
  position: relative;
  width: 339px;
  margin: 15px auto 0 auto;
  text-transform: uppercase;
}
.frame1__border {
  width: 100%;
  height: 115.48px;
}
.frame1__title {
  width: 331px;
  height: 107.48px;
  border: 2px solid #ff0a3b;
  padding: 15px 7px 15px 15px;
  text-align: center;
  color: white;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: bold;
  line-height: 85px;
  letter-spacing: 2px;
  transition: all 0.15s ease;
  white-space: nowrap;
}
.frame1__title:after {
  position: absolute;
  content: "";
  width: 331px;
  height: 107.48px;
  border: 2px solid #ff0a3b;
  left: 8px;
  top: 8px;
  transition: all 0.15s ease;
}
.frame1__title:hover {
  border: 2px solid white;
}
.frame1__title:hover:after {
  border: 2px solid white;
}

.frame2 {
  margin-top: 60px;
}
.frame2__items {
  display: flex;
  justify-content: space-between;
}
.frame2__item {
  max-width: 540px;
  width: 50%;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}
.frame2__item:first-child {
  margin-right: 30px;
}
.frame2__item img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 0.3s;
}
.frame2__item::after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: rgba(0, 0, 0, 0.4745098039);
  box-shadow: 0 0 0 40px rgba(0, 0, 0, 0.4745098039);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: all 0.3s;
}
.frame2__item:hover img {
  scale: 1.1;
}
.frame2__item:hover::after {
  opacity: 1;
}

.frame3 {
  margin-top: 60px;
}
.frame3 p {
  font-size: 22px;
  color: #fff;
  text-align: center;
}
.frame3 p a {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #e74c3A;
}
.frame3 p a:first-child {
  margin: 0 20px;
}
.frame3 p a:nth-child(2) {
  margin: 0 20px;
}
.frame3 p a:last-child {
  margin: 0 20px;
}
.frame3 p a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #e74c3A;
  opacity: 0;
  transition: all 0.3s;
}
.frame3 p a:hover::after {
  bottom: -6px;
  opacity: 1;
}

.frame4 {
  margin-top: 60px;
  padding: 0 15px;
}
.frame4__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "map info" "map info";
}
.frame4__item.item-1 {
  grid-area: map;
  height: auto;
}
.frame4__item.item-2 {
  grid-area: info;
  text-align: center;
  padding: 50px 50px 200px 50px;
}
.frame4__item.item-2 h2 {
  font-size: 15px;
  font-family: "Montserrat";
  color: #E53935;
  line-height: 1.4;
  font-weight: 700;
}
.frame4__item.item-2 p {
  margin-top: 15px;
  font-size: 23px;
  color: #fff !important;
  font-weight: 700;
  line-height: 2;
}
.frame4__item.item-2 p span {
  color: #fff !important;
}

.far,
.fa {
  display: inline-block;
  padding-right: 30px;
}

/* <> MEDIA MIDDLE */
@media (max-width: 1400px) {
  .frame4__item.item-2 {
    padding: 50px 20px;
  }
  .frame4__item h2 {
    font-size: 14px !important;
  }
  .frame4__item p {
    font-size: 18px !important;
    line-height: 1.8 !important;
  }
}
@media (max-width: 1200px) {
  .content {
    padding-top: 90px;
  }
  .container {
    max-width: 960px;
  }
}
@media (max-width: 990px) {
  .frame4__items {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "info info" "map map";
  }
}
@media (max-width: 550px) {
  .frame4__item.item-2 {
    padding: 20px;
    margin-bottom: 20px;
  }
  .frame4__item h2 {
    font-size: 12px !important;
  }
  .frame4__item p {
    font-size: 16px !important;
    line-height: 1.8 !important;
  }
}
@media (max-width: 480px) {
  .frame4__item {
    padding: 20px 0 !important;
  }
}
/* </> MEDIA MIDDLE */
@media (max-width: 768px) {
  .frame2__items {
    display: block;
  }
  .frame2__items .frame2__item {
    margin: 0 auto;
    width: 100%;
    max-width: 510px;
  }
  .frame2__items .frame2__item:first-child {
    margin-bottom: 30px;
  }
}
@media (max-width: 400px) {
  .frame1 {
    width: 298px;
  }
  .frame1__title {
    width: 290px;
  }
  .frame1__title::after {
    width: 290px;
  }
}
/* </> MIDDLE */
/* <> BOTTOM */
.footer {
  margin-top: 15px;
  width: 100%;
  height: 100px;
  background-color: #555555;
  display: flex;
  align-items: center;
}
.footer > .container {
  max-width: 1140px;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.footer__rights {
  color: #999999;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.footer__links {
  display: flex;
}
.footer__links a {
  margin-left: 10px;
}
.footer__links a:first-child {
  margin: 0;
}
.footer__link {
  border-radius: 50%;
  cursor: pointer;
}
.footer__link rect,
.footer__link path {
  pointer-events: none;
  transition: all 0.5s ease;
}
.footer__link rect {
  fill: #555555;
  stroke: #999999;
}
.footer__link path {
  color: #999999;
}
.footer__link:hover rect {
  fill: #ff0a3b;
  stroke: #ff0a3b;
}
.footer__link:hover path {
  color: white;
}

/* <> MEDIA BOTTOM */
@media (max-width: 768px) {
  .footer {
    margin: 20px 0 0 0;
  }
}
/* </> MEDIA BOTTOM */
/* </> BOTTOM */
/* show when scroll */
@media (min-width: 1200px) {
  .element-animation {
    opacity: 0;
  }
  .element-animation.element-show {
    opacity: 1;
    transition: opacity 1s, transform 1s;
  }
}
@media (min-width: 2000px) {
  .frame4 {
    margin-top: 60px;
    padding: 0 15px;
  }
  .frame4.item-2 p {
    color: #fff !important;
  }
  .frame4.item-2 p span {
    color: #fff !important;
  }
}