@charset "UTF-8";
/*nullstyle*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  cursor: default;
}

/* fonts */
@font-face {
  font-family: "open-sans";
  src: url(fonts/open-sans/OpenSans-Regular.ttf);
  src: local("open-sans"), url("../fonts/open-sans/OpenSans-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "open-sans";
  src: url("../fonts/open-sans/OpenSans-SemiBold.ttf");
  src: local("open-sans"), url("../fonts/open-sans/OpenSans-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: semibold;
}
@font-face {
  font-family: "open-sans";
  src: url(fonts/open-sans/OpenSans-Bold.ttf);
  src: local("open-sans"), url("../fonts/open-sans/OpenSans-Bold.ttf") format("woff2");
  font-weight: 800;
  font-style: bold;
}
/* style */
html,
body {
  min-width: 320px;
  background-color: #333333;
  color: #ff0a3b;
  font-family: "open-sans";
  scroll-behavior: smooth;
  position: relative;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
}
*::-moz-selection {
  color: #ffffff;
  background: #e74c3A;
}
*::selection {
  color: #ffffff;
  background: #e74c3A;
}

*::-moz-selection {
  color: #fff;
  background: #e74c3A;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: 0 0 30px black;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.black {
  background-color: #242424;
  padding: 30px 0;
}

.marker {
  width: 70px;
  height: 10px;
  background-color: #E74C3A;
}

/* <> TOP */
.header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid #DDDDDD;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 2;
}
.header > .container {
  height: 90px;
}
.header__body {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  transform: translateZ(0);
  flex: 0 0 180px;
  position: relative;
  z-index: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__logo img {
  max-width: 100%;
  cursor: pointer;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
  transform: translateZ(0);
}
.header__list li {
  margin: 0 0 0 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__link {
  color: #ff0a3b;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  transition: letter-spacing 0.5s ease, color 0.5s ease;
  cursor: pointer;
}
.header__link:hover {
  color: white;
}

/* <> медиа запросы */
@media (max-width: 1200px) {
  .header > .container {
    height: 80px;
  }
}
@media (min-width: 768px) {
  .header__link:hover {
    letter-spacing: 1px;
  }
}
@media (max-width: 768px) {
  .header:before {
    background-color: #191919;
  }
  .header__logo {
    flex: 0 0 180px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    background-color: #ff0a3b;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #ff0a3b;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 120px 50px 10px 50px;
    transition: all 0.3s ease;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 25px 0;
    padding: 5px;
  }
  .header__link {
    font-size: 21px;
  }
}
@media (max-width: 860px) {
  .header__link {
    font-size: 16.9px;
  }
}
/* </> MEDIA TOP */
/* </> TOP */
/* <> MIDDLE */
.content {
  padding: 100px 0 0 0;
}
.content > .container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.frame1 {
  position: relative;
  width: 339px;
  margin: 15px auto 0 auto;
  text-transform: uppercase;
}
.frame1__border {
  width: 100%;
  height: 115.48px;
}
.frame1__title {
  width: 331px;
  height: 107.48px;
  border: 2px solid #ff0a3b;
  padding: 15px 7px 15px 15px;
  text-align: center;
  color: white;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: bold;
  line-height: 85px;
  letter-spacing: 2px;
  transition: all 0.15s ease;
  white-space: nowrap;
}
.frame1__title:after {
  position: absolute;
  content: "";
  width: 331px;
  height: 107.48px;
  border: 2px solid #ff0a3b;
  left: 8px;
  top: 8px;
  transition: all 0.15s ease;
}
.frame1__title:hover {
  border: 2px solid white;
}
.frame1__title:hover:after {
  border: 2px solid white;
}

.frame2 {
  background-color: #E74C3A;
  color: #fff;
  margin-top: 30px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame2__imagebox {
  padding: 0 15px;
  max-width: 285px;
}
.frame2__imagebox img {
  width: 100%;
}
.frame2__titlebox {
  text-align: center;
  padding: 0 15px;
  max-width: 570px;
  line-height: 1.2;
}
.frame2__titlebox p {
  font-size: 20px;
  margin-top: 14px;
}
.frame2__title {
  font-size: 35px;
  font-weight: 700;
  font-family: "Montserrat";
}
.frame2__title.element-animation {
  transform: translateY(-40px);
}
.frame2__title.element-animation.element-show {
  transform: translateY(0px);
}
.frame2__buttonbox {
  padding: 0 15px;
}
.frame2__buttonbox.element-animation {
  transform: translateY(40px);
}
.frame2__buttonbox.element-animation.element-show {
  transform: translateY(0px);
}
.frame2__button {
  display: inline-block;
  background-color: inherit;
  color: #fff;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  border: 1px solid #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.frame2__button:hover {
  background-color: #fff;
  color: #000;
}
.frame2__number {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.frame2__number::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s;
  opacity: 0;
}
.frame2__number:hover::after {
  opacity: 1;
  transform: translatey(6px);
}

.frame3 {
  max-width: 1500px;
  margin: 30px auto 0px auto;
  padding: 0 15px;
  /*<FRAME3__SLIDER>*/
}
.frame3__image {
  width: 100%;
  pointer-events: none;
}
.frame3__text {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 20px 20px 0 20px;
  pointer-events: none;
  font-family: "Montserrat";
}
.frame3__square {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 20px;
  height: 20px;
  background-color: #E74C3A;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.frame3 .slider {
  min-width: 0;
}
.frame3 .slider__item {
  cursor: pointer;
  margin: 0 7px;
  width: 100%;
  position: relative;
  display: block;
  background-color: #000;
  padding-bottom: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease-out;
}
.frame3 .slider__item:hover {
  background-color: #E74C3A;
}
.frame3 .slider__item:hover .frame3__square {
  background-color: #fff;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

/*</> FRAME3__SLIDER*/
.frame4 {
  margin-top: 60px;
  font-family: "Open-Sans";
  text-align: center;
}
.frame4__title {
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  color: #e53935;
}
.frame4__items {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.frame4__item {
  color: #fff;
  max-width: 275px;
  padding: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.frame4__item img {
  width: 100%;
}
.frame4__item-day {
  margin-top: 30px;
  font-size: 17.5px;
  font-weight: 700;
  font-family: "Montserrat";
}
.frame4__item-level {
  margin-top: 20px;
  color: #e53935;
}
.frame4__item-time {
  margin-top: 20px;
}

.layout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.631372549);
  z-index: 6;
  display: flex;
  justify-content: right;
  color: #fff;
}

.form {
  max-width: 510px;
  padding: 15px 31px;
}
.form__title {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
}
.form__text {
  font-size: 15px;
}
.form__inputbox {
  position: relative;
}
.form__inputbox::after {
  pointer-events: none;
  content: "Имя";
  position: absolute;
  font-size: 16px;
  top: calc(50% - 8px);
  left: 20px;
}
.form__inputbox.active::after {
  transform: translateY(-10px);
}
.form__input {
  width: 100%;
  height: 52px;
  padding: 20px 10px 5px 19px;
  border-radius: 4px;
  background-color: #E74C3C;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.form__input:focus {
  background-color: inherit;
  border: 1px solid #fff;
}

/* <> MEDIA MIDDLE */
@media (max-width: 1200px) {
  .content {
    padding-top: 90px;
  }
  .container {
    max-width: 960px;
  }
}
@media (max-width: 400px) {
  .frame1 {
    width: 298px;
  }
  .frame1__title {
    font-size: 28px;
    width: 290px;
  }
  .frame1__title::after {
    width: 290px;
  }
}
/* </> MEDIA MIDDLE */
@media (max-width: 1200px) {
  .frame2 {
    display: block;
  }
  .frame2__imagebox {
    margin: 0 auto;
  }
  .frame2__titlebox {
    margin: 30px auto 0 auto;
  }
  .frame2__buttonbox {
    margin-top: 14px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .frame4__items {
    display: block;
    margin: 60px auto 0 auto;
  }
  .frame4__item {
    max-width: 510px;
    margin: 0 auto 40px auto;
    padding: 0;
  }
  .frame4__item:last-child {
    margin-bottom: 0;
  }
}
/* </> MIDDLE */
/* <> BOTTOM */
.footer {
  margin-top: 15px;
  width: 100%;
  height: 100px;
  background-color: #555555;
  display: flex;
  align-items: center;
}
.footer > .container {
  max-width: 1140px;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.footer__rights {
  color: #999999;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.footer__links {
  display: flex;
}
.footer__links a {
  margin-left: 10px;
}
.footer__links a:first-child {
  margin: 0;
}
.footer__link {
  border-radius: 50%;
  cursor: pointer;
}
.footer__link rect,
.footer__link path {
  pointer-events: none;
  transition: all 0.5s ease;
}
.footer__link rect {
  fill: #555555;
  stroke: #999999;
}
.footer__link path {
  color: #999999;
}
.footer__link:hover rect {
  fill: #ff0a3b;
  stroke: #ff0a3b;
}
.footer__link:hover path {
  color: white;
}

/* <> MEDIA BOTTOM */
@media (max-width: 768px) {
  .footer {
    margin: 100px 0 0 0;
  }
}
/* </> MEDIA BOTTOM */
/* </> BOTTOM */
/* show when scroll */
.element-animation {
  opacity: 0;
}
.element-animation.element-show {
  opacity: 1;
  transition: opacity 1s, transform 1s;
}