@charset "UTF-8";
/*nullstyle*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  cursor: default;
}

/* fonts */
@font-face {
  font-family: "open-sans";
  src: url(fonts/open-sans/OpenSans-Regular.ttf);
  src: local("open-sans"), url("../fonts/open-sans/OpenSans-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "open-sans";
  src: url("../fonts/open-sans/OpenSans-SemiBold.ttf");
  src: local("open-sans"), url("../fonts/open-sans/OpenSans-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: semibold;
}
@font-face {
  font-family: "open-sans";
  src: url(fonts/open-sans/OpenSans-Bold.ttf);
  src: local("open-sans"), url("../fonts/open-sans/OpenSans-Bold.ttf") format("woff2");
  font-weight: 800;
  font-style: bold;
}
/* style */
html,
body {
  min-width: 320px;
  background-color: #333333;
  color: #ff0a3b;
  font-family: "open-sans";
  scroll-behavior: smooth;
  position: relative;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
}
*::-moz-selection {
  color: #ffffff;
  background: #e74c3A;
}
*::selection {
  color: #ffffff;
  background: #e74c3A;
}

*::-moz-selection {
  color: #fff;
  background: #e74c3A;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: 0 0 30px black;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.black {
  background-color: #242424;
  padding: 30px 0;
}

.marker {
  width: 70px;
  height: 10px;
  background-color: #E74C3A;
}

.identif {
  font-size: 0;
  opacity: 0;
}

/* <> TOP */
.header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid #DDDDDD;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 2;
}
.header > .container {
  height: 90px;
}
.header__body {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  transform: translateZ(0);
  flex: 0 0 180px;
  position: relative;
  z-index: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__logo img {
  max-width: 100%;
  cursor: pointer;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
  transform: translateZ(0);
}
.header__list li {
  margin: 0 0 0 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__link {
  color: #ff0a3b;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  transition: letter-spacing 0.5s ease, color 0.5s ease;
  cursor: pointer;
}
.header__link:hover {
  color: white;
}

/* <> медиа запросы */
@media (max-width: 1200px) {
  .header > .container {
    height: 80px;
  }
}
@media (min-width: 768px) {
  .header__link:hover {
    letter-spacing: 1px;
  }
}
@media (max-width: 768px) {
  .header:before {
    background-color: #191919;
  }
  .header__logo {
    flex: 0 0 180px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    background-color: #ff0a3b;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #ff0a3b;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 120px 50px 10px 50px;
    transition: all 0.3s ease;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 25px 0;
    padding: 5px;
  }
  .header__link {
    font-size: 21px;
  }
}
@media (max-width: 860px) {
  .header__link {
    font-size: 16.9px;
  }
}
/* </> MEDIA TOP */
/* </> TOP */
/* <> MIDDLE */
.content {
  padding: 100px 0 0 0;
}
.content > .container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.frame1 {
  position: relative;
  width: 339px;
  margin: 15px auto 0 auto;
  text-transform: uppercase;
}
.frame1__border {
  width: 100%;
  height: 115.48px;
}
.frame1__title {
  width: 331px;
  height: 107.48px;
  border: 2px solid #ff0a3b;
  padding: 15px 7px 15px 15px;
  text-align: center;
  color: white;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: bold;
  line-height: 85px;
  letter-spacing: 2px;
  transition: all 0.15s ease;
  white-space: nowrap;
}
.frame1__title:after {
  position: absolute;
  content: "";
  width: 331px;
  height: 107.48px;
  border: 2px solid #ff0a3b;
  left: 8px;
  top: 8px;
  transition: all 0.15s ease;
}
.frame1__title:hover {
  border: 2px solid white;
}
.frame1__title:hover:after {
  border: 2px solid white;
}

.frame2 {
  background-color: #E74C3A;
  color: #fff;
  margin-top: 30px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame2__imagebox {
  padding: 0 15px;
  max-width: 285px;
}
.frame2__imagebox img {
  width: 100%;
}
.frame2__titlebox {
  text-align: center;
  padding: 0 15px;
  max-width: 570px;
  line-height: 1.2;
}
.frame2__titlebox p {
  font-size: 20px;
  margin-top: 14px;
}
.frame2__title {
  font-size: 35px;
  font-weight: 700;
  font-family: "Montserrat";
}
.frame2__buttonbox {
  padding: 0 15px;
}
.frame2__button {
  display: inline-block;
  background-color: inherit;
  color: #fff;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  border: 1px solid #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.frame2__button:hover {
  background-color: #fff;
  color: #000;
}
.frame2__number {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.frame2__number::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s;
  opacity: 0;
}
.frame2__number:hover::after {
  opacity: 1;
  transform: translatey(6px);
}

.frame3 {
  max-width: 1500px;
  margin: 30px auto 0px auto;
  padding: 0 15px;
  /*<FRAME3__SLIDER>*/
}
.frame3__image {
  width: 100%;
  pointer-events: none;
}
.frame3__text {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 20px 20px 0 20px;
  pointer-events: none;
  font-family: "Montserrat";
}
.frame3__square {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 20px;
  height: 20px;
  background-color: #E74C3A;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.frame3 .slider {
  min-width: 0;
}
.frame3 .slider__item {
  cursor: pointer;
  margin: 0 7px;
  width: 100%;
  position: relative;
  display: block;
  background-color: #000;
  padding-bottom: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease-out;
}
.frame3 .slider__item:hover {
  background-color: #E74C3A;
}
.frame3 .slider__item:hover .frame3__square {
  background-color: #fff;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

/*</> FRAME3__SLIDER*/
.frame4 {
  margin-top: 60px;
  font-family: "Open-Sans";
  text-align: center;
}
.frame4__title {
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  color: #e53935;
}
.frame4__items {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.frame4__item {
  color: #fff;
  max-width: 255px;
  font-size: 14px;
  text-transform: uppercase;
}
.frame4__item:nth-child(2) {
  margin: 0 20px;
}
.frame4__item:nth-child(4) {
  margin-left: 20px;
}
.frame4__item img {
  width: 100%;
}
.frame4__item-day {
  margin-top: 30px;
  font-size: 17.5px;
  font-weight: 700;
  font-family: "Montserrat";
}
.frame4__item-level {
  margin-top: 20px;
  color: #e53935;
}
.frame4__item-time {
  margin-top: 20px;
}

.frame5 {
  margin-top: 100px;
  text-align: center;
  color: #fff;
}
.frame5__title {
  display: inline-block;
  font-size: 27px;
  font-family: "Montserrat";
  font-weight: 700;
  position: relative;
  letter-spacing: 1px;
}
.frame5__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background-color: #e53935;
}
.frame5__info {
  margin-top: 40px;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 3px;
}
.frame5__items {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.frame5__item {
  max-width: 350px;
  background-color: #1D1D1D;
  padding-bottom: 40px;
}
.frame5__item img {
  width: 100%;
}
.frame5__item:nth-child(2) {
  margin: 0 15px;
}
.frame5__item-title {
  font-size: 15px;
  font-family: "Montserrat";
  margin-top: 60px;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 0 5px;
}
.frame5__item-title br {
  display: none;
}
.frame5__item-info {
  font-size: 14px;
  color: #777777;
  margin-top: 15px;
  letter-spacing: 3px;
}
.frame5__item-price {
  font-size: 26px;
  font-weight: 800;
  margin-top: 30px;
  letter-spacing: 4px;
}
.frame5__item-square {
  margin: 40px auto 0 auto;
  display: block;
  width: 18px;
  height: 27px;
  background-color: inherit;
  border: 1px solid #fff;
}

.frame6 {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
.frame6__daybox {
  width: 33.3333%;
  color: #fff;
  position: relative;
}
.frame6__daybox-title {
  padding: 30px 30px 0 30px;
  font-size: 24.5px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat";
}
.frame6__daybox-text {
  line-height: 1.6;
  color: #cccccc;
  font-size: 14px;
  margin-top: 20px;
  padding: 0 30px 160px 30px;
}
.frame6__daybox-text .identif {
  position: absolute;
  right: 0;
  bottom: 80px;
}
.frame6__daybox img {
  width: 100%;
}
.frame6__promobox {
  width: 33.3333%;
  background-color: #000;
  text-align: center;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame6__promobox-title {
  font-size: 55px;
  font-weight: 700;
  color: #E74C3A;
  letter-spacing: 1px;
}
.frame6__promobox-text {
  margin-top: 30px;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}
.frame6__promobox-redline {
  display: block;
  margin: 30px auto 0 auto;
  width: 70px;
  height: 10px;
  background-color: #E74C3A;
}
.frame6__promobox-whline {
  display: block;
  margin: 60px auto 0 auto;
  width: 270px;
  height: 1px;
  background-color: #fff;
}

.frame7 {
  padding: 0 60px;
  margin: 30px auto 0 auto;
}
.frame7__title {
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #E74C3A;
  text-align: center;
}
.frame7__agree {
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  margin: 30px 0 40px 0;
  position: relative;
}
.frame7__agree::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #E74C3A;
}
.frame7__number-list {
  padding: 0 15px;
}
.frame7__dot-list {
  margin: 10px 0;
}
.frame7__dot-list li p {
  display: block;
  margin-left: 15px;
}
.frame7__dot-list li {
  position: relative;
}
.frame7__dot-list li::before {
  position: absolute;
  left: 0;
  top: 8.195px;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #cccccc;
}
.frame7__number-list, .frame7__dot-list {
  color: #cccccc;
  font-size: 14px;
  line-height: 1.6;
}

.frame8 {
  margin-top: 60px;
  position: relative;
}
.frame8 .identif {
  position: absolute;
  top: -100px;
  left: 0;
}
.frame8__title {
  text-align: center;
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #e53935;
  padding-bottom: 30px;
}
.frame8 ol {
  list-style-type: none;
}

.subject__title {
  font-family: "Montserrat";
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  margin-top: 30px;
  position: relative;
}
.subject__title p {
  display: inline-block;
}
.subject__info {
  padding-left: 50px;
  margin-top: 5px;
  line-height: 1.6;
  color: #e53935;
}
.subject__info-white {
  color: #fff;
  margin-top: 5px;
}
.subject__info .subject__dots {
  padding-left: 30px;
}
.subject__dots {
  color: #e53935;
  padding-left: 80px;
  margin-top: 20px;
}
.subject__dots li {
  position: relative;
  line-height: 1.6;
}
.subject__dots li p {
  margin-left: 20px;
  font-size: 14px;
  font-family: "Open-Sans";
  font-weight: 400;
}
.subject__dots li p::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  top: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.frame9 {
  margin-top: 80px;
}
.frame9 .slider {
  min-width: 0;
}
.frame9 .slider__item {
  cursor: pointer;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease-out;
}
.frame9 .slider__item-imgbox {
  width: 50%;
  padding: 0 15px;
}
.frame9 .slider__item-imgbox img {
  width: 100%;
}
.frame9 .slider__item-textbox {
  width: 50%;
  padding: 0 15px;
  text-align: center;
}
.frame9 .slider__item-title {
  font-size: 35px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2;
}
.frame9 .slider__item-text {
  color: rgba(255, 255, 255, 0.7019607843);
  line-height: 1.6;
}
.frame9 .slider__item-text.red {
  margin-top: 15px;
}
.frame9 .slider__item .red {
  color: #e53935;
}
.frame9 .slider__item-circle {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  margin: 15px auto 40px auto;
}
.frame9 .slider__item-gift {
  color: rgba(255, 255, 255, 0.7019607843);
  margin-bottom: 15px;
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
}
.frame9 .slider .slick-dots {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame9 .slider .slick-dots li {
  margin: 0 5px;
}
.frame9 .slider .slick-dots li.slick-active button {
  background-color: #7F7F7F;
  border: 2px solid inherit;
}
.frame9 .slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
}

.frame10 {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.frame10__teacher {
  padding: 30px 15px;
  width: 50%;
}
.frame10__teacher img {
  width: 133px;
  height: 200px;
  border-radius: 50%;
}
.frame10__name {
  margin-top: 15px;
  font-size: 35px;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  color: #fff;
}
.frame10__about {
  font-size: 14px;
  margin-top: 20px;
  color: #e74c3A;
  font-weight: 700;
  line-height: 1.6;
}
.frame10__soft {
  font-size: 14px;
  margin-top: 30px;
  color: #fff;
  line-height: 1.6;
}

.frame11 {
  padding: 15px 0;
}
.frame11 .slider {
  position: relative;
}
.frame11 .slider__item {
  padding: 0 15px;
  height: 25.595vw;
  max-height: 480px;
}
.frame11 .slider__item iframe {
  width: 100%;
  height: 100%;
}
.frame11 .slider .slick-track {
  display: flex;
  overflow: hidden;
}
.frame11 .slider .slick-arrow {
  overflow: visible;
  position: absolute;
  background-color: inherit;
  font-size: 28px;
  z-index: 3;
  bottom: calc(50% - 14px);
  padding: 30px;
  color: #ccc;
  transition: all 0.3s;
}
.frame11 .slider .slick-arrow:hover {
  color: #e74c3A;
}
.frame11 .slider .slick-prev {
  left: 0px;
}
.frame11 .slider .slick-next {
  right: 0px;
}
.frame11 .slider .slick-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.far,
.fa {
  display: inline-block;
  padding-right: 30px;
}

/* <> MEDIA MIDDLE */
@media (max-width: 1200px) {
  .content {
    padding-top: 90px;
  }
  .container {
    max-width: 960px;
  }
}
@media (max-width: 400px) {
  .frame1 {
    width: 298px;
  }
  .frame1__title {
    font-size: 28px;
    width: 290px;
  }
  .frame1__title::after {
    width: 290px;
  }
}
@media (max-width: 990px) {
  .frame9 .slider__item {
    display: block;
  }
  .frame9 .slider__item-imgbox {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }
  .frame9 .slider__item-textbox {
    margin: 0 auto;
    max-width: 690px;
    width: 100%;
  }
  .frame9 .slider__item-title {
    margin: 15px 0;
    font-size: 22px;
  }
  .frame9 .slider__item-gift {
    margin-top: 10px;
  }
  .frame6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "promo promo" "content1 content2";
  }
  .frame6__promobox {
    padding: 30px;
    grid-area: promo;
    width: 100%;
  }
  .frame6__daybox {
    width: 100%;
  }
  .frame6__daybox .content-1 {
    grid-area: content1;
  }
  .frame6__daybox .content-2 {
    grid-area: content2;
  }
  .frame6__daybox-text {
    padding-bottom: 120px;
  }
}
@media (max-width: 870px) {
  .frame5__item-title br {
    display: inline;
  }
}
/* </> MEDIA MIDDLE */
@media (max-width: 1200px) {
  .frame2 {
    display: block;
  }
  .frame2__imagebox {
    margin: 0 auto;
  }
  .frame2__titlebox {
    margin: 30px auto 0 auto;
  }
  .frame2__buttonbox {
    margin-top: 14px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .frame10 {
    display: block;
  }
  .frame10__teacher {
    width: 100%;
    max-width: 510px;
    margin: 0 auto;
  }
  .frame10__teacher:nth-child(2) {
    margin-top: 30px;
  }
  .far,
  .fa {
    position: absolute;
  }
  .frame8__title {
    font-size: 24px;
  }
  .frame8 .subject__title p {
    margin-left: 40px;
  }
  .frame8 .subject__dots {
    padding-left: 20px;
  }
  .frame8 .subject__dots p {
    padding-left: 10px;
    margin-left: 0;
  }
  .frame8 .subject__info {
    padding-left: 0;
    margin-left: 20px;
  }
  .frame8 .subject__info .subject__dots {
    padding-left: 0;
  }
  .frame7 {
    padding: 0 15px;
  }
  .frame4__items {
    display: block;
    margin: 60px auto 0 auto;
  }
  .frame4__item {
    max-width: 510px;
  }
  .frame4__item:nth-child(n) {
    margin: 0 auto 40px auto;
  }
  .frame4__item:last-child {
    margin-bottom: 0;
  }
  .frame5__items {
    display: block;
  }
  .frame5__item {
    max-width: 510px;
  }
  .frame5__item:nth-child(n) {
    margin: 0 auto 25px auto;
  }
  .frame5__item:nth-last-child(1) {
    margin: 0 auto;
  }
  .frame6 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "promo" "content1" "content2";
  }
  .frame6__daybox.content-1 .frame6__daybox-text {
    padding-bottom: 120px;
  }
  .frame6__daybox.content-2 .frame6__daybox-text {
    padding-bottom: 30px;
  }
}
/* </> MIDDLE */
/* <> BOTTOM */
.footer {
  margin-top: 15px;
  width: 100%;
  height: 100px;
  background-color: #555555;
  display: flex;
  align-items: center;
}
.footer > .container {
  max-width: 1140px;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.footer__rights {
  color: #999999;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.footer__links {
  display: flex;
}
.footer__links a {
  margin-left: 10px;
}
.footer__links a:first-child {
  margin: 0;
}
.footer__link {
  border-radius: 50%;
  cursor: pointer;
}
.footer__link rect,
.footer__link path {
  pointer-events: none;
  transition: all 0.5s ease;
}
.footer__link rect {
  fill: #555555;
  stroke: #999999;
}
.footer__link path {
  color: #999999;
}
.footer__link:hover rect {
  fill: #ff0a3b;
  stroke: #ff0a3b;
}
.footer__link:hover path {
  color: white;
}

/* <> MEDIA BOTTOM */
@media (max-width: 768px) {
  .footer {
    margin: 100px 0 0 0;
  }
}
/* </> MEDIA BOTTOM */
/* </> BOTTOM */
/* show when scroll */
@media (min-width: 1200px) {
  .frame9 .slider__item-title.element-animation {
    transform: translateX(-200px);
  }
  .frame9 .slider__item-title.element-animation.element-show {
    transform: translateX(0);
  }
  .frame4__items.element-animation {
    transform: translateY(60px);
  }
  .frame4__items.element-animation.element-show {
    transform: translateY(0px);
  }
  .frame5__items.element-animation {
    transform: translateX(60px);
  }
  .frame5__items.element-animation.element-show {
    transform: translateX(0);
  }
  .frame2__title.element-animation {
    transform: translateY(-40px);
  }
  .frame2__title.element-animation.element-show {
    transform: translateY(0px);
  }
  .frame2__buttonbox.element-animation {
    transform: translateY(40px);
  }
  .frame2__buttonbox.element-animation.element-show {
    transform: translateY(0px);
  }
  .element-animation {
    opacity: 0;
  }
  .element-animation.element-show {
    opacity: 1;
    transition: opacity 1s, transform 1s;
  }
}