@charset "UTF-8";
/*nullstyle*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  cursor: default;
}

/* fonts */
@font-face {
  font-family: Montserrat;
  src: url(fonts/montserrat/Montserrat-Bold.ttf);
  src: local("Montserrat"), url(fonts/montserrat/Montserrat-Bold.ttf) format("woff2");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "open-sans";
  src: url(fonts/open-sans/OpenSans-Regular.ttf);
  src: local("open-sans"), url(fonts/open-sans/OpenSans-Regular.ttf) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "open-sans";
  src: url(fonts/open-sans/OpenSans-SemiBold.ttf);
  src: local("open-sans"), url(fonts/open-sans/OpenSans-SemiBold.ttf) format("woff2");
  font-weight: 600;
  font-style: semibold;
}
@font-face {
  font-family: "open-sans";
  src: url(fonts/open-sans/OpenSans-Bold.ttf);
  src: local("open-sans"), url(fonts/open-sans/OpenSans-Bold.ttf) format("woff2");
  font-weight: 800;
  font-style: bold;
}
/* style */
html,
body {
  min-width: 320px;
  height: 100%;
  background-color: #333333;
  color: #ff0a3b;
  font-family: "open-sans";
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
}
*::-moz-selection {
  color: #fff;
  background: #e74c3A;
}
*::selection {
  color: #fff;
  background: #e74c3A;
}

*::-moz-selection {
  color: #fff;
  background: #e74c3A;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: 0 0 30px black;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.black {
  background-color: #242424;
  padding: 30px 0;
}

.marker {
  width: 70px;
  height: 10px;
  background-color: #E74C3A;
}

/* <> TOP */
.header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  top: 0;
  z-index: 50;
  border-bottom: 1px solid #DDDDDD;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 2;
}
.header > .container {
  height: 100px;
}
.header__body {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  transform: translateZ(0);
  flex: 0 0 180px;
  position: relative;
  z-index: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__logo img {
  max-width: 100%;
  cursor: pointer;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
  transform: translateZ(0);
}
.header__list li {
  margin: 0 0 0 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__link {
  color: #ff0a3b;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  transition: letter-spacing 0.5s ease, color 0.5s ease;
  cursor: pointer;
}
.header__link:hover {
  color: white;
}

/* <> медиа запросы */
@media (max-width: 1200px) {
  .header > .container {
    height: 80px;
  }
}
@media (min-width: 768px) {
  .header__link:hover {
    letter-spacing: 1px;
  }
}
@media (max-width: 768px) {
  .header:before {
    background-color: #191919;
  }
  .header__logo {
    flex: 0 0 180px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    background-color: #ff0a3b;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #ff0a3b;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 120px 50px 10px 50px;
    transition: all 0.3s ease;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 25px 0;
    padding: 5px;
  }
  .header__link {
    font-size: 21px;
  }
}
@media (max-width: 860px) {
  .header__link {
    font-size: 16.9px;
  }
}
/* </> MEDIA TOP */
/* </> TOP */
/* <> MIDDLE */
.content {
  padding: 110px 0 0 0;
}

.frame1 {
  position: relative;
  width: 426px;
  margin: 15px auto 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.frame1__border {
  height: 115px;
  width: 426px;
}
.frame1__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 0 8px;
  width: 418px;
  height: 107.47px;
  border: 2px solid #ff0a3b;
  text-align: center;
  color: white;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: bold;
  line-height: 85px;
  letter-spacing: 2px;
  transition: border 0.3s ease;
  text-transform: uppercase;
  white-space: nowrap;
}
.frame1__title:after {
  position: absolute;
  left: 8px;
  top: 8px;
  content: "";
  width: 418px;
  height: 107.47px;
  border: 2px solid #ff0a3b;
  transition: border 0.3s ease;
}
.frame1__title:hover {
  border: 2px solid white;
}
.frame1__title:hover:after {
  border: 2px solid white;
}

.frame2 {
  color: white;
  margin-top: 60px;
  text-align: center;
}
.frame2 .border {
  height: 2px;
  background-color: #E74C3A;
  max-width: 855px;
}
.frame2 .border:first-child {
  margin: 0 auto 40px auto;
}
.frame2 .border:last-child {
  margin: 26px auto 0 auto;
}
.frame2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 0 0 14px 0;
}
.frame2__feedback {
  color: #E74C3A;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transform: translateZ(0);
}
.frame2__feedback::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E74C3A;
  opacity: 0;
  transform: translate(0, -5px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.frame2__feedback:hover::after {
  opacity: 1;
  transform: translate(0, 1px);
}

.frame3 {
  width: 100%;
  margin-top: 90px;
  transform: translateZ(0);
}
.frame3 span {
  display: inline-block;
}
.frame3__rules {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: Montserrat;
  color: #E74C3A;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.frame3__rules::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E74C3A;
  opacity: 0;
  transform: translate(0, -5px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.frame3__rules:hover::after {
  opacity: 1;
  transform: translate(0, 2px);
}
.frame3__main-title {
  color: white;
  margin: 23px 0 0 0;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 31px;
}
.frame3__marker {
  margin: 30px 0 0 0;
}
.frame3__agreement {
  color: #CCCCCC;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin: 20px 0 0 0;
}
.frame3__agreement a {
  color: #E74C3A;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.frame3__agreement a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E74C3A;
  opacity: 0;
  transform: translate(0, -5px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
.frame3__agreement a:hover::after {
  opacity: 1;
  transform: translate(0, 0);
}

.frame4 {
  margin-top: 60px;
  width: 100%;
  color: #fff;
  padding-bottom: 30px;
  /*<>SLIDER*/
  /*</>SLIDER*/
}
.frame4__title {
  font-size: 20px;
  font-family: Montserrat;
  line-height: 1.2;
}
.frame4__info {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}
.frame4__marker {
  margin-top: 30px;
}
.frame4__row {
  display: flex;
  justify-content: space-between;
}
.frame4__image {
  transition: transform 0.5s;
}
.frame4__slider {
  min-width: 0;
  max-width: 760px;
  padding: 0 15px;
}
.frame4__slider .slider {
  min-width: 0;
}
.frame4__slider .slider__filter {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background: linear-gradient(rgba(231, 77, 60, 0.6), rgba(48, 7, 3, 0.6));
  opacity: 0;
  transition: opacity 0.5s;
}
.frame4__slider .slider__scale {
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.frame4__slider .slider__scale:hover .frame4__image {
  transform: scale(1.2);
}
.frame4__slider .slider__scale:hover .slider__filter {
  opacity: 1;
}
.frame4__slider .slider__item {
  margin: 0 5px 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.frame4__slider .slider .slick-list {
  overflow: hidden;
}
.frame4__slider .slider .slick-track {
  display: flex;
  align-items: flex-start;
}
.frame4__slider .slider .slick-slide {
  transition: opacity 0.5s;
  opacity: 0.2;
}
.frame4__slider .slider .slick-active {
  opacity: 1;
}
.frame4__slider .slider .slick-cloned {
  opacity: 1;
}
.frame4__slider .slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame4__slider .slider .slick-dots li {
  margin: 0 5px;
}
.frame4__slider .slider .slick-dots li.slick-active button {
  background-color: #E74C3A;
  border: 1px solid #D98C84;
}
.frame4__slider .slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #7F7F7F;
  border-radius: 50%;
}

.frame5 {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.frame5__sensual {
  max-width: 475px;
  width: 100%;
  padding-right: 15px;
}
.frame5__img {
  width: 100%;
}
.frame5__img img {
  width: 100%;
}
.frame5__title {
  font-family: Montserrat;
  font-size: 24.5px;
  line-height: 1.4;
  text-transform: uppercase;
}
.frame5__subtitle {
  margin-top: 20px;
  line-height: 1.4;
}

/* <> MEDIA MIDDLE */
@media (min-width: 1200px) {
  .content {
    padding-top: 90px;
  }
  .frame4__image {
    width: 355px;
  }
}
@media (max-width: 1199px) {
  .frame4__slider {
    max-width: 640px;
  }
  .frame4__image {
    width: 295px;
  }
}
@media (max-width: 991px) {
  .frame4__slider {
    max-width: 720px;
    margin: 54px auto 0 auto;
  }
  .frame4__image {
    width: 335px;
  }
  .frame4__row {
    display: block;
  }
}
@media (max-width: 768px) {
  content {
    padding: 110px 0 0 0;
  }
  .frame4__slider {
    text-align: center;
    max-width: 540px;
  }
  .frame4__image {
    width: 500px;
  }
}
@media (max-width: 575px) {
  .frame4__slider {
    max-width: 100%;
    padding: 0;
  }
  .slider__item {
    padding: 0 5px;
  }
}
@media (max-width: 540px) {
  .frame4__image {
    width: 100%;
    overflow: hidden;
  }
}
@media (max-width: 456px) {
  .frame1 {
    width: 298px;
  }
  .frame1__border {
    width: 298px;
    height: 115px;
  }
  .frame1__title {
    width: 290px;
    height: 107.47px;
    font-size: 23px;
    font-weight: bold;
    line-height: 85px;
    letter-spacing: 2px;
  }
  .frame1__title:after {
    width: 290px;
    height: 107.47px;
  }
}
/* </> MEDIA MIDDLE */
/* </> MIDDLE */
/* <> BOTTOM */
.footer {
  margin-top: 15px;
  width: 100%;
  height: 100px;
  background-color: #555555;
  display: flex;
  align-items: center;
}
.footer > .container {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__rights {
  color: #999999;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.footer__links {
  display: flex;
}
.footer__links a {
  margin-left: 10px;
}
.footer__links a:first-child {
  margin: 0;
}
.footer__link {
  border-radius: 50%;
  cursor: pointer;
}
.footer__link rect,
.footer__link path {
  pointer-events: none;
  transition: all 0.5s ease;
}
.footer__link rect {
  fill: #555555;
  stroke: #999999;
}
.footer__link path {
  color: #999999;
}
.footer__link:hover rect {
  fill: #ff0a3b;
  stroke: #ff0a3b;
}
.footer__link:hover path {
  color: white;
}

/* <> MEDIA BOTTOM */
@media (max-width: 768px) {
  .footer {
    margin: 100px 0 0 0;
  }
}
/* </> MEDIA BOTTOM */
/* </> BOTTOM */