@import "_nullstyle";
@import "_fonts";

/* style */
//colors: #FBD784 ##ffffff80 #FFF
//title Chronicle subtitle Gilroy
html,
body {
    min-width: 320px;
    height: 100%;
    background-color: #333333;
    color: #ff0a3b;
    font-family: "open-sans";
}

@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
}

*::selection {
    color: #fff;
    background: #e74c3A;
}

*::-moz-selection {
    color: #fff;
    background: #e74c3A;
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    box-shadow: 0 0 30px black;
    overflow: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.black {
    background-color: #242424;
    padding: 30px 0;
}

.marker {
    width: 70px;
    height: 10px;
    background-color: #E74C3A;
}

/* <> TOP */
.header {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    top: 0;
    z-index: 50;
    border-bottom: 1px solid #DDDDDD;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333333;
        z-index: 2;
    }

    &>.container {
        height: 100px;
    }

    &__body {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        transform: translateZ(0);
        flex: 0 0 180px;
        position: relative;
        z-index: 3;
        user-select: none;

        & img {
            max-width: 100%;
            cursor: pointer;
        }
    }

    &__burger {
        display: none;
    }

    &__list {
        display: flex;
        position: relative;
        z-index: 2;
        transform: translateZ(0);

        & li {
            margin: 0 0 0 16px;
            user-select: none;
        }
    }

    &__link {
        color: #ff0a3b;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        transition: letter-spacing 0.5s ease, color 0.5s ease;
        cursor: pointer;

        &:hover {
            color: white;
        }
    }
}

/* <> медиа запросы */
@media (max-width: 1200px) {
    .header>.container {
        height: 80px;
    }
}
@media (min-width: 768px) {
    .header__link {
        &:hover {
            letter-spacing: 1px;
        }
    }
}

@media (max-width: 768px) {
    .header:before {
        background-color: #191919;
    }



    .header__logo {
        flex: 0 0 180px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;

        & span {
            background-color: #ff0a3b;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease;
        }

        &:before,
        &:after {
            content: '';
            background-color: #ff0a3b;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease;
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }

        &.active span {
            transform: scale(0);
        }

        &.active:before {
            transform: rotate(45deg);
            top: 9px;
        }

        &.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 120px 50px 10px 50px;
        transition: all 0.3s ease;
        overflow: auto;

        &.active {
            top: 0;
        }
    }

    .header__list {
        display: block;

        & li {
            margin: 0 0 25px 0;
            padding: 5px;
        }
    }

    .header__link {
        font-size: 21px;
    }
}

@media (max-width: 860px) {
    .header__link {
        font-size: 16.9px;
    }
}

/* </> MEDIA TOP */
/* </> TOP */


/* <> MIDDLE */
.content {
    padding: 110px 0 0 0;
}

.frame1 {
    position: relative;
    width: 426px;
    margin: 15px auto 0 auto;
    user-select: none;

    &__border {
        height: 115px;
        width: 426px;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0 0 8px;
        width: 418px;
        height: 107.47px;
        border: 2px solid #ff0a3b;
        text-align: center;
        color: white;
        font-family: "Montserrat";
        font-size: 35px;
        font-weight: bold;
        line-height: 85px;
        letter-spacing: 2px;
        transition: border 0.3s ease;
        text-transform: uppercase;
        white-space: nowrap;

        &:after {
            position: absolute;
            left: 8px;
            top: 8px;
            content: '';
            width: 418px;
            height: 107.47px;
            border: 2px solid #ff0a3b;
            transition: border 0.3s ease;
        }

        &:hover {
            border: 2px solid white;

            &:after {
                border: 2px solid white;
            }
        }
    }
}

.frame2 {
    color: white;
    margin-top: 60px;
    text-align: center;

    & .border {
        height: 2px;
        background-color: #E74C3A;
        max-width: 855px;

        &:first-child {
            margin: 0 auto 40px auto;
        }

        &:last-child {
            margin: 26px auto 0 auto;
        }
    }

    & p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        padding: 0 0 14px 0;
    }

    &__feedback {
        color: #E74C3A;
        cursor: pointer;
        position: relative;
        display: inline-block;
        transform: translateZ(0);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #E74C3A;
            opacity: 0;
            transform: translate(0, -5px);
            transition: opacity 300ms ease-out, transform 300ms ease-out;

        }

        &:hover {
            &::after {
                opacity: 1;
                transform: translate(0, 1px);
            }
        }
    }
}

.frame3 {
    width: 100%;
    margin-top: 90px;
    transform: translateZ(0);

    & span {
        display: inline-block;
    }

    &__rules {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: "Montserrat";
        color: #E74C3A;
        cursor: pointer;
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #E74C3A;
            opacity: 0;
            transform: translate(0, -5px);
            transition: opacity 300ms ease-out, transform 300ms ease-out;

        }

        &:hover {
            &::after {
                opacity: 1;
                transform: translate(0, 2px);
            }
        }
    }

    &__main-title {
        color: white;
        margin: 23px 0 0 0;
        font-size: 24px;
        font-family: "Montserrat";
        font-weight: 700;
        line-height: 31px;
    }

    &__marker {
        margin: 30px 0 0 0;
    }

    &__agreement {
        color: #CCCCCC;
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        margin: 20px 0 0 0;

        & a {
            color: #E74C3A;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #E74C3A;
                opacity: 0;
                transform: translate(0, -5px);
                transition: opacity 300ms ease-out, transform 300ms ease-out;

            }

            &:hover {
                &::after {
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
        }
    }
}

.frame4 {
    margin-top: 60px;
    width: 100%;
    color: #fff;
    padding-bottom: 30px;

    &__title {
        font-size: 20px;
        font-family: "Montserrat";
        line-height: 1.2;
    }

    &__info {
        margin-top: 30px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
    }

    &__marker {
        margin-top: 30px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__image {
        transition: transform 0.5s;
    }

    /*<>SLIDER*/
    &__slider {
        min-width: 0;
        max-width: 760px;
        padding: 0 15px;

        & .slider {
            min-width: 0;

            &__filter {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 3;
                background: linear-gradient(#e74d3c99, #30070399);
                opacity: 0;
                transition: opacity 0.5s;
            }

            &__scale {
                overflow: hidden;
                display: inline-block;
                position: relative;

                &:hover {
                    .frame4__image {
                        transform: scale(1.2);
                    }

                    .slider__filter {
                        opacity: 1;
                    }
                }
            }

            &__item {
                margin: 0 5px 10px 0;
                user-select: none;
                
            }

            & .slick-list {
                overflow: hidden;
            }

            & .slick-track {
                display: flex;
                align-items: flex-start;
            }

            & .slick-slide {
                transition: opacity 0.5s;
                opacity: 0.2;
            }

            & .slick-active {
                opacity: 1;
            }

            & .slick-cloned {
                opacity: 1;
            }

            & .slick-dots {
                display: flex;
                align-items: center;
                justify-content: center;

                & li {
                    margin: 0 5px;

                    &.slick-active button {
                        background-color: #E74C3A;
                        border: 1px solid #D98C84;
                    }
                }

                & button {
                    font-size: 0;
                    width: 10px;
                    height: 10px;
                    background-color: #7F7F7F;
                    border-radius: 50%;
                }
            }
        }
    }

    /*</>SLIDER*/

}

.frame5 {
    display: flex; //display block @media
    justify-content: space-between;
    color: #fff;
    &__sensual {
        max-width: 475px;
        width: 100%;
        padding-right: 15px;
        }
        &__img {
            width: 100%;
            & img {
                width: 100%;
            }
        }
        &__title {
            font-family: "Montserrat";
            font-size: 24.5px;
            line-height: 1.4;
            text-transform: uppercase;
        }
        &__subtitle {
            margin-top: 20px;
            line-height: 1.4;
        }
        
}

/* <> MEDIA MIDDLE */

@media (min-width: 1200px) {
    .content {
        padding-top: 90px;
    }
    .frame4__image {
        width: 355px;
    }
}

@media (max-width: 1199px) {
    .frame4__slider {
        max-width: 640px;
    }

    .frame4__image {
        width: 295px;
    }
}

@media (max-width: 991px) {
    .frame4__slider {
        max-width: 720px;
        margin: 54px auto 0 auto;
    }

    .frame4__image {
        width: 335px;
    }

    .frame4__row {
        display: block;
    }
}

@media (max-width: 768px) {
    content {
        padding: 110px 0 0 0;
    }

    .frame4__slider {
        text-align: center;
        max-width: 540px;
    }

    .frame4__image {
        width: 500px;
    }
}

@media (max-width: 575px) {
    .frame4__slider {
        max-width: 100%;
        padding: 0;
    }

    .slider__item {
        padding: 0 5px;
    }
}

@media (max-width: 540px) {
    .frame4__image {
        width: 100%;
        overflow: hidden;
    }
}

@media (max-width: 456px) {
    .frame1 {
        width: 298px;

        &__border {
            width: 298px;
            height: 115px;
        }

        &__title {
            width: 290px;
            height: 107.47px;
            font-size: 23px;
            font-weight: bold;
            line-height: 85px;
            letter-spacing: 2px;

            &:after {
                width: 290px;
                height: 107.47px;
            }
        }
    }
}

/* </> MEDIA MIDDLE */
/* </> MIDDLE */


/* <> BOTTOM */
.footer {
    margin-top: 15px;
    width: 100%;
    height: 100px;
    background-color: #555555;
    display: flex;
    align-items: center;

    &>.container {
        height: 35px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__rights {
        color: #999999;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    &__links {
        display: flex;

        & a {
            margin-left: 10px;

            &:first-child {
                margin: 0;
            }
        }
    }

    &__link {
        border-radius: 50%;
        cursor: pointer;

        & rect,
        path {
            pointer-events: none;
            transition: all 0.5s ease;
        }

        & rect {
            fill: #555555;
            stroke: #999999;
        }

        & path {
            color: #999999;
        }

        &:hover {
            rect {
                fill: #ff0a3b;
                stroke: #ff0a3b;
            }

            path {
                color: white;
            }
        }
    }
}

/* <> MEDIA BOTTOM */
@media (max-width: 768px) {
    .footer {
        margin: 100px 0 0 0;
    }
}

/* </> MEDIA BOTTOM */
/* </> BOTTOM */